# Web Test Runs on Testjet

In this section, you will see a list of the total test runs under that project. The user will be able to search for a particular test run and also Filter test runs by time duration from the “Filter by” drop-down.  

The "New Test Run" button will be shown in the top right corner. 

 ![](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/151010753803/original/VBbPAVsEjKsae2eDbiyuR5qKgswhwtn67A.png?1675753231)

Steps: 

*   Click on the "New Test Run" button, a pop-up form will appear “Create New Test Run” 
    
*   Enter “Test Run Name” 
    
*   Enter “Tag Name” 
    
*   Click on "Search Test Case", user will be able to search and select test cases. 
    
*   Click on "Create Test Run" button and the created test run will appear on the “Test Run” list page. 
    

![](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/151010753802/original/655_afTQZGWQf8Ysvwr6nsZQkfWpa7JVRw.png?1675753231)